body {
    background-image: url("/images/moon.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

main {
    background-image: url("/images/favicon.ico");
    background-repeat: repeat;
}